#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- prefix=/usr

override_dh_auto_test:
	dh_auto_test -- check smoke-xvfb prefix=/usr

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

override_dh_installwm:
	dh_installwm --priority=40
